@import "../../bower_components/bootstrap/less/variables.less";

@font-family-sans-serif: "proxima-nova", sans-serif;
@brand-primary: #00ccff;

@navbar-default-color: #161616;
@navbar-default-bg: @brand-primary;
@navbar-default-border: none;

@navbar-default-link-color: #666;
@navbar-default-link-hover-color: #999;
@navbar-default-link-active-color: @navbar-default-link-hover-color;
@navbar-default-link-active-bg: transparent;

@import "../../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/forms.less";

@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";

// Utility classes
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";

@import "util/toolbox.less";